div.wrapper {
	padding-left: 20px;
}

td, th {
	text-align: center!important;
}

td.middle {
	padding-top: 18px!important;
}

input.span2, textarea.span2, .uneditable-input.span2 {
	width: 85px;
}

select.select {
	width: 65px;
	margin-top: -1px;
	background-color: #eee;
}
